.CardDetails {
  margin: 5em auto;
  width: 55%;
  height: auto;
  border-radius: 0.25em;
  background-color: #d6d6d6;
}

.modal-root-render {
  overflow-y: auto;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
}

.root-darken {
  filter: brightness(75%);
}

.card-close-btn {
  position: absolute;
  top: 0;
  right: 1em;
}
.card-close-btn:hover {
  transform: scale(1.3);
}

.content-text {
  margin-left: 2.5em;
}
.content-icon {
  font-size: 1.5em;
  cursor: default !important;
  float: left;
  width: 2em;
}
.attached-list {
  text-decoration: underline;
}
.card-title {
  text-indent: -0.5em;
}

.label {
  background-color: green;
  cursor: pointer;
  color: #ddd;
  border-radius: 0.25em;
  padding: 0.1em 0.5em;
  margin-right: 0.2em;
  font-size: 0.9em;
  color: #fff;
}
.label:hover {
  filter: brightness(120%);
  cursor: pointer;
}
.details-btn {
  border: 2px solid transparent;
  padding: 0.3em 0.6em;
  border-radius: 0.25em;
  background-color: #e5e5e5;
}
.details-btn:hover {
  background-color: #f1f1f1;
}

.desc-title {
  text-indent: -0.55em;
}
.activity-title {
  text-indent: -0.25em;
}
.comment-input {
  padding: 0.3em 0.8em;
  border: 1.5px solid grey;
  width: 90%;
  margin-left: 0.7em;
}
.comment-input:focus {
  padding: 0.3em 0.8em;
  border: 1.5px solid #029943;
}
.tiny-gear {
  padding: 0.1em 0.4em;
  font-size: 0.8em;
}
.dsb {
  /* details side button */
  margin-top: 0.4em;
  text-align: left;
  padding-left: 1em;
  font-size: 0.85em;
}
.dsb-title {
  margin-top: 2.5rem;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 600;
}
.dsb-title:first-child {
  margin-top: 0;
}
.dsb i {
  margin-right: 0.5em;
}
.feedBack {
  text-align: center;
  font-size: 0.7em;
  text-decoration: underline;
  color: #333;
  margin-top: 0.1em;
}
.details-side-sector hr {
  border: 0;
  clear: both;
  display: inline-block;
  width: 100%;
  background-color: #ddd;
  height: 1px;
  margin: 0 !important;
  margin-top: 0.5em !important;
  padding: 0 !important;
}
