.CardDetails {
  margin: 5em auto;
  width: 50%;
  height: auto;
  border-radius: 0.25em;
}

#modal-root {
  overflow-y: auto;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
}

#root {
  filter: brightness(75%);
}
.content-text {
  margin-left: 2.5em;
}
.content-icon {
  font-size: 1.5em;
  cursor: default !important;
  float: left;
  width: 2em;
}
.attached-list {
  text-decoration: underline;
}
.card-title {
  text-indent: -0.5em;
}

.label {
  background-color: green;
  cursor: pointer;
  color: #ddd;
  border-radius: 0.25em;
  padding: 0.1em 0.5em;
  margin-right: 0.2em;
  font-size: 0.9em;
  color: #fff;
}
.label:hover {
  filter: brightness(120%);
  cursor: pointer;
}
.details-btn {
  border: 2px solid transparent;
  padding: 0.3em 0.6em;
  border-radius: 0.25em;
}
.details-btn:hover {
  background-color: wheat;
}

.desc-title {
  text-indent: -0.55em;
}
.activity-title {
  text-indent: -0.25em;
}
.comment-input {
  padding: 0.3em 0.8em;
  border: 1.5px solid grey;
  width: 90%;
}
.comment-input:focus {
  padding: 0.3em 0.8em;
  border: 1.5px solid #029943;
}
.tiny-gear {
  padding: 0.1em 0.2em;
  font-size: 0.8em;
}
.dsb {
  /* details side button */
  margin-top: 0.4em;
  text-align: left;
  padding-left: 1em;
}
