.list-wrapper {
  width: 100%;
  overflow-x: auto;
  color: #eee;
}

.list-wrapper:first-child {
  padding-left: 1em;
}

.list-wrapper > div {
  min-width: 17em;
  flex-grow: 0;
}

.card-list,
.trello-card {
  border-radius: 0.25em;
}

.field-element {
  margin-top: 0.5em !important;
  box-shadow: 2px 2px 3px 2px #121212;
}

.list-tail-btn {
  background-color: none;
  display: block;
  font-size: 0.9em;
  padding: 0.2em 0.5em;
  border-radius: 0.5em;
}

.list-tail-btn:hover {
  background-color: #eee;
  color: #333;
  cursor: pointer;
}
