.listmenu-container {
  background-color: #ddd;
  display: block;
  max-width: 300px;
  height: auto;
  position: absolute;
  border-radius: 0.2em;
  color: #333 !important;
  z-index: 999;
}

.listmenu-head {
  user-select: none;
  font-weight: bold;
  position: relative;
}

.listmenu-close-btn {
  font-size: 1.2em;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 100%;
  transition: transform 0.3s ease-out;
}

.listmenu-close-btn:hover {
  transform: rotate(360deg);
  transition: transform 0.3s ease-out;
}

.listmenu-btn {
  display: block;
  line-height: 2em;
  padding-left: 1em;
  cursor: pointer;
}
.listmenu-btn:hover {
  background-color: #aaa;
}
