.navs-div {
  height: 13vh;
}
.navbar {
  background-color: var(--transcolor1);
}
#searchField {
  z-index: 50;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Yellowtail", cursive;
  font-size: 2em;
  color: var(--transcolor2);
}

.logo:hover {
  color: var(--transcolor2d);
}

.secondarynav {
  background-color: transparent;
  color: #ddd;
}

#boardName {
  font-weight: bold;
  text-shadow: 1px 1px grey;
  color: #ddd;
}
