.tail {
  display: inline-block;
  background-color: #666;
  color: #ddd;
  border: 1px solid #000;
  box-shadow: -1px 1px 2px #000;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-left: -4px;
  cursor: pointer;
}

.tail:hover {
  filter: brightness(120%);
}

.tail p {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 30px;
  text-align: center;
  font-size: 75%;
  font-weight: bold;
}
